DB_USER=postgres
DB_PASSWORD=super_secure_db_password
DB_NAME=booking_system
DB_HOST=localhost
DB_PORT=5432

DATABASE_URL=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

SECRET_KEY=TEST_SECRET_KEY_FOR_PYTEST_ONLY_SUPER_LONG
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30